<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /splitup/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /splitup/index.html [L]
</IfModule>